@page
@model PRN_Project.Pages.Categories.CreateModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Create category</h2> <hr />

        </div>

        <div class="mb-3">
            <label asp-for="categories.Name"></label>
            <input asp-for="categories.Name" class="form-control"/>
        </div>

        <div class="mb-3">
            <label asp-for="categories.DisplayOrder"></label>
            <input asp-for="categories.DisplayOrder" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>

    </div>
</form>
