@page
@model PRN_Project.Pages.Admin.Order.ManageOrderModel

<h1 class="text-primary py-3">Manage Order's'</h1>
<form method="post">
    <div class="container row bg-white p-2 mb-3 rounded">
        <div class="col-12 pb-3 mt-4 border rounded">
            <div class="row" >
                <div class="col-4">
                    Order Number: XX
                    <ul class="text-info"></ul>
                </div>
            </div>
        </div>
    </div>
</form>