@page
@model PRN_Project.Pages.Admin.Order.OrderDetailsModel



<form method="post">

    <div class="border p-4 ml-1 backgroundWhite mt-4">
        <div class=""></div>
        <div class=""></div>

    </div>




</form>